<h1>Add a cat to the 99 Cats Library!!! <--- Excitement</h1>

<form action="/cats" method="post">
  <label for="name">Name: </label>
  <input id="name" type="text">
  <br>
  <label for="birth_date">Birthdate: </label>
  <input id="birth_date" type="date">
  <br>
  Sex: <select id="sex"> 
    <option selected=true disabled></option>
    <option value="M">M</option>
    <option value="F">F</option>
  </select>
  <br>
  <label for="description">Description: </label>
  <input id="description" type="text">
  <br>
  Color: <select id="color">
    <option selected=true disabled></option>
    <option value="black">black</option>
    <option value="orange">orange</option>
    <option value="white">white</option>
    <option value="grey">grey</option>
    <option value="rainbow">rainbow</option>
  </select>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
